<p id="notice"><%= notice %></p>

<p>
  <strong>Flight num:</strong>
  <%= @flight.flight_num %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @flight.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @flight.destination %>
</p>

<p>
  <strong>Flight datetime:</strong>
  <%= @flight.flight_datetime %>
</p>

<p>
  <strong>Airplane:</strong>
  <%= @flight.airplane.name %>
</p>

<%= link_to 'Edit', edit_flight_path(@flight) %> |
<%= link_to 'Back', flights_path %>

<div id="app">
  <h1>This is where Backbone should be loaded</h1>
</div>

<script type="html/template" id="AppViewTemplate">
  <h1>Our Secrets App</h1>
  <div id="secretForm">
    An instance of the SecretInputView should be loaded here
  </div>
  <ul id="secrets">
    <!--
      Many instances of the SecretView should be loaded here -->
  </ul>
</script>

<script type="html/template" id="SecretInputViewTemplate">
  <textarea placeholder="Tell me all of your secrets"></textarea>
  <button>Submit</button>
</script>
