
<h1>Log In To Book Your Flight!</h1>

<br>


<h3>LOGIN</h3>

<%= form_tag login_path do %>
<p>
  <%= label_tag :email %>
  <%= email_field_tag :email, "", :required => true %>
</p>

<p>
  <%= label_tag :password %>
  <%= password_field_tag :password, "", :required => true %>
</p>


<%= submit_tag "Login" %>
<% end %>
