<!DOCTYPE html>
<html>
<head>
  <title>Burning Airlines</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Cantarell|Lato|Oswald|Roboto" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Cantarell|Lato|Roboto" rel="stylesheet"> -->
</head>
<body>

  <nav>
    <ul>
      <li class="logo">
        <%= link_to "Burning airlines", root_path %>
      </li>
      <li>
        <%= link_to "Search", search_path %>
      </li>
      <% unless @current_user.present? %>
        <li class="nav_right">
          <%= link_to "Sign Up", new_user_path %>
        </li>
        <li class="nav_right">
          <%= link_to "Login", login_path %>
        </li>
      <% else %>
        <li>
          <%= link_to "Flights", flights_path %> |
        </li>
        <li>
          <%= link_to "Airplanes", airplanes_path %> |
        </li>
        <li>
        <!-- <%#= link_to "Edit Profile", edit_user_path( @current_user.id ) %> | -->
        <%= link_to "Logout #{@current_user.email}", login_path, :method => :delete %>
        </li>
      <% end %>
    </ul>

    <!-- <%# if @current_user.present? %>
      <span>
        You are logged in as <%#= @current_user.email %>
      </span>
    <%# end %> -->
  </nav>

  <header class="wrapper">
    <section class="content">
      <h1>Welcome to the probably the best online booking ..</h1>
    </section>
    <button>
      Search your flight!
    </button>
    <div class="white_board">
      <div id="flightsearch">
        <h2>Search available flights</h2>
        <div id="searchform">
        </div>
        <br />
        <div id="searchresult" style="width: 80%; margin: 3px auto;"></div>
      </div>
    </div>
  </header>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
